<?xml version='1.0' encoding='utf-8' ?>
<http://www.w3.org/ns/widgets:widget xmlns:="http://www.w3.org/ns/widgets" id="io.cordova.helloCordova" version="2.0.0">
	<:name>&quot; Hello Cordova
&quot;	</http://www.w3.org/ns/widgets:name>
	<:description>&quot; A sample Apache Cordova application that responds to the deviceready
        event. &quot;	</http://www.w3.org/ns/widgets:description>
	<:author href="http://cordova.io" email="dev@cordova.apache.org">&quot; Apache Cordova Team &quot;	</http://www.w3.org/ns/widgets:author>
	<:access origin="http://*/*" />
	<:access origin="https://*/*" />
	<:content src="index.html" />
	<:preference name="loglevel" value="DEBUG" />
    <gap:plugin name="com.phonegap.plugins.childbrowser" version="5.0.0" />
</http://www.w3.org/ns/widgets:widget>
